<!doctype html>
<html lang="uz" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cabinet</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<div class="container">
    <div class="row pt-3 pb-3">
        <div class="col-md-12 text-center">
            <h1 class="text-danger">My Cabinet</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-danger">Name:</h2>
        </div>
        <div class="col-md-6">
            <h3 class="text-danger"th:text="${user.fullname}"></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-danger">Login:</h2>
        </div>
        <div class="col-md-6">
            <h3 class="text-danger"th:text="${user.username}"></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-danger">Phone:</h2>
        </div>
        <div class="col-md-6">
            <h3 class="text-danger" th:text="${user.phone}"></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-danger">Email:</h2>
        </div>
        <div class="col-md-6">
            <h3 class="text-danger" th:text="${user.email}"></h3>
        </div>
    </div>
</div>


<!--<script th:src="@{/js/jquery/jquery.min.js}"></script>-->
<!--<script th:src="@{/js/bootstrap.bundle.min.js}"></script>-->
<!--<script th:src="@{/js/bootstrap.min.js}"></script>-->
</body>
</html>