<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Login</title>

    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/fonts/material-icon/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div class="main">
    <section class="sign-in">
        <div class="container">

            <div class="signin-content">

                <div class="signin-image">
                    <figure>
                        <img th:src="@{/images/signin-image.jpg}" alt="sing up image">
                    </figure>
                    <a th:href="@{/register}" class="signup-image-link">Create an account</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign in</h2>

                    <form th:action="@{/login}" method="POST" class="register-form" id="login-form">

                        <div class="form-group">
                            <label for="username"><i class="zmdi zmdi-phone material-icons-name"></i></label>
                            <input type="text" name="username" id="username" placeholder="Username" />
                        </div>

                        <div class="form-group">
                            <label for="password"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" id="password" placeholder="Password" />
                        </div>

                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <label for="remember-me" class="label-agree-term">
                                <span><span></span></span>
                                Remember me
                            </label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit"  id="signin" class="form-submit" value="Log in" />
                        </div>

                    </form>

                    <div class="social-login">
                        <span class="social-label">Or login with</span>
                        <ul class="socials">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="display-flex-center zmdi zmdi-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="display-flex-center zmdi zmdi-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.google.com/" target="_blank">
                                    <i class="display-flex-center zmdi zmdi-google"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<script th:src="@{/vendor/jquery/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/main.js}" type="text/javascript"></script>
</body>
</html>