<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>register</title>

    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/fonts/material-icon/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div class="main">
    <section class="signup">
        <div class="container">

            <div class="signup-content">

                <div class="signup-form">

                    <h2 class="form-title">Sign up</h2>

                    <form th:action="@{/register}" th:object="${registerReq}" method="POST" class="register-form" id="register-form">
                        <div class="form-group">
                            <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" th:field="*{username}" name="username" id="username" placeholder="Your username" />
                            <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                        </div>
                        <div class="form-group">
                            <label for="fullname"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" th:field="*{fullname}" name="fullname" id="fullname" placeholder="Your fullname" />
                            <span class="text-danger" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></span>
                        </div>
                        <div class="form-group">
                            <label for="phone"><i class="zmdi zmdi-phone"></i></label>
                            <input type="text" th:field="*{phone}" name="pnone" id="phone" placeholder="Your phone" required/>
                            <span class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email"  th:field="*{email}" name="email" id="email" placeholder="Your email" required/>
                            <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                        </div>
                        <div class="form-group">
                            <label for="password"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" th:field="*{password}" name="password" id="password" placeholder="Password" required/>
                            <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                        </div>
                        <div class="form-group">
                            <label for="prePassword"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="password" th:field="*{prePassword}" id="prePassword" placeholder="Repeat your prePassword" required/>
                            <span class="text-danger" th:if="${#fields.hasErrors('prePassword')}" th:errors="*{prePassword}"></span>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                        </div>

                    </form>
                </div>
                <div class="signup-image">
                    <figure><img th:src="@{/images/signup-image.jpg}" alt="sing up image"></figure>
                    <a th:href="@{/login}" class="signup-image-link">I am already member</a>
                </div>
            </div>
        </div>
    </section>
</div>
<script th:src="@{/vendor/jquery/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/main.js}" type="text/javascript"></script>

<script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-23581568-13');
</script>
</body>
</html>